.card-header {
  background-color: #234D51;
  text-align: center;
  color: white;
}

.card-body {
  font-size: 2.6vh;
}

.card-footer {
  background-color: #234D51;
  color: white;
  text-align: center;
}

.btn-warning, .btn-primary {
    background-color: #FF513F;
    border-color: #FF513F;
    color: white;
}

.btn-warning:hover, .btn-primary:hover {
    background-color: #FF735F;
    border-color: #FF735F;
}

.page-link {
    background-color: #234D51;
    color: white;
}

.active {
    background-color: #234D51;
}

.navbar {
  background-color: #234D51 !important;
  opacity: 0.9 !important;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-brand {
  font-size: 5vh !important;
}

.fakeSpan {
  color: #FF513F;
}
